<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/styles/home.css">
   <%- include('parts/links', { title: 'HAR Hotel - Início' }) %>
   <script src="/scripts/comments.js" defer></script>

</head>
<body>
   <%- include('parts/header', { image }) %>
   <div class="container">
      <div class="info">
         <p>Todos os quartos estão inclusos o nosso perfeito café da manha.</p>
      </div>
      <div class="rooms">
         <% rooms.forEach(room => { %>
            <div class="room">
               <div class="content">
                  <h2><%=room.name%></h2>
                  <p><%=room.description%></p>
                  <a href="/quartos/<%=room.id%>">EXPLORE</a>
               </div>
               <div class="image">
                  <img src="<%=room.image%>" alt="<%=room.name%>">
               </div>
            </div>
         <% }) %>
      </div>
      <%- include('parts/comments', { comments }) %>
   </div>
   <%- include('parts/footer') %>
</body>
</html>